.container__menu-title {
  color: #333;
  text-align: center;
  padding: 20px 0;
}

.container__menu-title > h1 {
  margin: 10px 0;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}
