.container__content {
  width: 100%;
  min-height: 100vh;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.content__cover > img {
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  height: auto;
}

.content__description {
  text-align: center;
  color: #555;
  font-size: 16px;
  line-height: 1.6;
}

.content__description > p {
  margin-top: 10px;
}
